 {% extends "base.html.twig" %}

{% block title %}Gestion - {{ parent() }} 
{% endblock %}

 {% block central %}
 
 <h1>Gestion</h1>

    <a class="btn btn-success" href="{{ path('gestion_wishes') }}">Gestion wishes</a>
    <a class="btn btn-success" href="{{ path('admin_utilisateurs') }}">Gestion utilisateurs</a>



 {% endblock %}