 {% extends "base.html.twig" %}

{% block title %}Home |
{{ parent() }} 
{% endblock %}

 {% block central %}
    <div class="titre">
        <h1>Modifier wish</h1>
    </div>

    <div class="col-4 mb-4">
        {{ form_start(formWish) }}
        
        {{ form_widget(formWish) }}
          <button type="submit" class="btn btn-success">Modifier</button>

        {{ form_end(formWish) }}
    </div>

 {% endblock %}