 {% extends "base.html.twig" %}

 {% block central %}
 <div class= "justify-content-center align-items-center">
 <h1>Détails</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class = "col-4">WISH</th>
      <th class = "col-8">{{ wish.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Description</th>
      <td>{{ wish.description }}</td>
    </tr>
    <tr>
      <th>Auteur</th>
      <td>{{ wish.author }}</td>
    </tr>
    <tr>
      <th>Date de création</th>
      <td>{{ wish.dateCreated|date("m/d/Y H:i:s") }}</td>
    </tr>
  </tbody>
</table>
</div>

 {% endblock %}