 {% extends "base.html.twig" %}

 {% block central %}
 <h1>Détail</h1>

 <table class="table">
  <tbody>
    <tr>
      <th scope="row">{{ id }}</th>
      <td>{{ wish.author }}</td>
    </tr>
    <tr>
  </tbody>
</table>

 {% endblock %}