 {% extends "base.html.twig" %}

 {% block central %}
 <h1>Détail</h1>


      titre : {{ wish.title }}
      <br>
      <br>
      auteur : {{ wish.author }}
      <br>
      <br>
      description : {{ wish.description }}
      <br>
      <br>
      Date de création : {{ wish.dateCreated|date("m/d/Y H:i:s") }}
      <br>
      <br>
      <br>

 {% endblock %}